<ion-view view-title="নীড়পাতা">
  <ion-content>
      <div class="list list-inset">
          <div class="item">
            <span style="float: left;">
              মোট জমাঃ <b>৳ {{ totalEarned }}</b>
            </span>
            <span style="float: right;">
              মোট খরচঃ <b>৳ {{ totalExpent }}</b>
            </span>
          </div>      
          <div class="item">
              জেরঃ <b>৳ {{ totalEarned - totalExpent }}</b>
          </div>      
      </div>
    <hr>
    <div class="row">
      <div class="col">
        <button class="button button-full icon-left ion-star button-positive">Favorites</button>
      </div>
      <div class="col">
        <button class="button button-full icon-left ion-star button-positive">Favorites</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-full icon-left ion-star button-positive">Favorites</button>
      </div>
      <div class="col">
        <button class="button button-full icon-left ion-star button-positive">Favorites</button>
      </div>
    </div>
  </ion-content>
</ion-view>
