<ion-modal-view cache-view="false">
    <ion-header-bar class="bar-assertive">
      <h1 class="title"><i class="icon ion-cash"></i> জমা</h1>
      <div class="buttons">
        <button class="button button-icon button-clear ion-android-close" ng-click="closeEarn()"></button>
      </div>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="addEarn()">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">জমার খাত</span>
            <input type="text" ng-model="earnData.reason" placeholder="জমার খাত" required>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">পরিমাণ (৳)</span>
            <input type="number" ng-model="earnData.amount" placeholder="পরিমাণ (৳)" required>
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">দাখিল করুন</button>
          </label>
        </div>
      </form>
    </ion-content>
  </ion-modal-view>
  