<ion-modal-view cache-view="false">
  <ion-header-bar class="bar-assertive">
    <h1 class="title"><i class="icon ion-cash"></i> খরচ সম্পাদন</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-close" ng-click="closeEditExpense()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="editExpense(item)">
      <div class="list">
        <input type="hidden" ng-model="editExpendData.id" required>
        <label class="item item-input item-floating-label">
          <span class="input-label">খরচের খাত</span>
          <input type="text" ng-model="editExpendData.reason" placeholder="খরচের খাত" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">পরিমাণ (৳)</span>
          <input type="number" ng-model="editExpendData.amount" placeholder="পরিমাণ (৳)" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">দাখিল করুন</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
